body{
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: top;
  padding: 20px;
  background-color: #999;
}
#kalkulators{
  font-family: 'Roboto', sans-serif;
  background-color: #83c7fc;
  border-radius: 15px;
  max-width: 500px;
  overflow:hidden;
  
}
#pogas{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

#displejs{
  width: 100%;
  padding: 20px;
  font-size: 4rem;
  text-align: center;
  background-color: #90cefe;
  border: none;
}

button{
  width: 100px;
  height: 100px;
  border-radius: 30px;
  border-color: none;
  background-color: #47a7f0;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  
}

button:hover{
  background-color: #2e7af5;
}
button:active{
  background-color: #89c1ec;
}
.funkcpoga{
  background-color: #2e7af5;
}
.funkcpoga:hover{
  background-color: #47a7f0;
}
.funkcpoga:active{
  background-color: #82c4f7;
}

.funkcpoga2{
  background-color: #2e7af5;
  color: gold;
}
.funkcpoga2:hover{
  background-color: #47a7f0;
}
.funkcpoga2:active{
  background-color: #82c4f7;
}